# 📦 Dependências
node_modules/
.pnp/
.pnp.js

# 📁 Build / Output
.next/
out/
build/
.turbo/          # Turbopack cache
.tailwind/       # Tailwind JIT cache

# ✅ Tipos e Cache TypeScript
*.tsbuildinfo
next-env.d.ts

# 🔐 Variáveis de ambiente
.env
.env.*
.env*.local

# 🧪 Testes e cobertura
coverage/

# 🧠 IDEs e editores
.vscode/
.idea/

# 🪵 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🛑 Arquivos do sistema
.DS_Store
Thumbs.db

# 🔐 Chaves e certificados (se houver)
*.pem

# ☁️ Vercel
.vercel/

# 🔒 Lockfiles — mantenha apenas o que você usa
package-lock.json  
# ignore se usar só yarn
yarn.lock          
# ignore se usar só npm
